@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

/* Light Theme Colors */
:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --muted-foreground: #64748b;
  --card: #ffffff;
  --card-foreground: #0f172a;
  --border: #e2e8f0;
  --heading: sans-serif;
  --text-h: #0f172a;
  --mono: monospace;
  --code-bg: #f1f5f9;
}

/* Dark Theme Colors */
.dark {
  --background: #242428;         
  --foreground: #e4e4e7;        
  --muted-foreground: #a1a1aa;   
  --card: #1a1a1e;             
  --card-foreground: #e4e4e7;     
  --border: #2a2a30;       
  --text-h: #ffffff;              
  --code-bg: #222226;
}


@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
}


body {
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}